.requisition-content {
  padding: 24px;
  background-color: #f0f2f5;
}

.requisition-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.requisition-search {
  width: 300px;
}

.request-card {
  margin-bottom: 10px;
}

.request-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* .whole-setion{
  display: flex; 
  flex-direction: row;
  width: 100%;
} */

.date-required,
.reason-container {
  margin-bottom: 15px;
}

.finalize-btn {
  margin-top: 10px;
}

.finalize-modal .ant-modal-title {
  background: #f60;
  padding: 12px;
  color: white;
  font-weight: bold;
}

.finalize-modal .ant-modal-content {
  border-radius: 8px;
}

.usage-type-dropdown {
  margin-left: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.program-room-container {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.program-container,
.room-container {
  flex: 1;
}

.requisition-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-request-container {
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.table-container {
  flex: 3;
}

.request-list-container {
  flex: 1;
  overflow-y: auto;
  max-height: 500px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.requisition-table {
  overflow-y: auto; 
  max-height: 400px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}

.requisition-table .ant-table-container {
  max-height: 400px; 
  overflow-y: auto;
}

.requisition-table .ant-table-thead > tr > th {
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 1;
}

.date-time-container {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.date-required,
.time-required {
  flex: 1;
}

.reason-container {
  padding-top: 20px;
}

.dropdowns {
  padding-bottom: 20px;
}

.request-list-title {
  padding-left: 750px;
  padding-top: 10px;
}

.add-item-row-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.requisition-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #fafafa; /* Light gray */
}

.requisition-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #ffffff; /* White */
}

.requisition-table .ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff; /* Light blue highlight */
}

