.requisition-content {
  padding: 24px;
  background-color: #f0f2f5;
}

.requisition-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.requisition-search {
  width: 300px;
}

.request-card {
  margin-bottom: 10px;
}

.request-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.whole-section{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
  gap: 30px;
}

.left-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.reason-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}
.bottom-btns{
  display: flex;
  justify-content: space-between;
}

.finalize-btn {
  margin-top: 10px;
  max-width: 200px;
  font-weight: 600;
  font-weight: 500;
  color: white  ;
  border: none;
}
/* 
.finalize-modal .ant-modal-title {
  background: #f60;
  padding: 12px;
  color: white;
  font-weight: bold;
} */

/* .finalize-modal .ant-modal-content {
  border-radius: 8px;
} */

.finalize-modal  button:nth-child(2){
  background-color: #D70000;
  font-weight: 500;
  border-width: 1px ;
  border-color: #D70000;  

}

.finalize-modal .ant-modal-footer button:nth-child(2):hover{
  background-color: #ffa2a2;
  border-width: 1px ;
}

.finalize-modal .ant-modal-footer button:nth-child(1):hover{
  border-width: 1px ;
  border-color: rgb(255, 139, 139);  
  color: #D70000;
}


.finalize-title-container{
  display: flex;
  align-items: center;
  width: 800px; 
  background-color: #D70000;
  height: 50px;
  padding-left: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: -20px;
  margin-left: -24px;
}

.modal-whole{
  background-color: #fff3f3;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 800px;
  padding-top: 15px;
  margin-left: -24px;
  padding-left: 20px;
  font-size: 16px;
}
.modal-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 30px;
}

.modal-left div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modal-right{
  width: 50%;
  padding-right: 30px;
}

.modal-right div:nth-child(1){
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.finalize-table th{
  text-align: left;
}

.usage-container{
display: flex;
gap: 15px;
}

.usage-type-dropdown {
  margin-left: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.program-room-container {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.program-container,
.room-container {
  flex: 1;
}


.requisition-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-request-container {
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.table-container {
  flex: 3;
}

.request-list-container {
  flex: 1;
  overflow-y: auto;
  max-height: 500px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.requisition-table {
  overflow-y: hidden; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}


.requisition-table .ant-table-container {
  overflow-y: hidden;
  padding-bottom: 30px;
}

.requisition-table .ant-table-thead > tr > th {
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 1;
}

.date-time-container {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.date-required,
.time-required {
  flex: 1;
}

.dropdowns {
  padding-bottom: 20px;
}

.request-list-title {
  padding-left: 750px;
  padding-top: 10px;
}

.add-item-row-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #337aff;
  font-weight: 500;
  color: white  ;
}

.requisition-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #fafafa; /* Light gray */
}

.requisition-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #ffffff; /* White */
}

.requisition-table .ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff; /* Light blue highlight */
}

