.search-content {
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  height: 40px;
  max-width: 400px;
  border-radius: 5px;
}

.pending-main {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-table {
  width: 100%;
}

.ant-tag {
  font-size: 12px;
  padding: 3px 8px;
}

.ant-table-thead > tr > th {
  background-color: #e6f7ff;
  font-weight: bold;
  text-align: center;
}

.ant-table-tbody > tr > td {
  text-align: left;
  padding: 10px;
}

.search-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #fafafa; /* Light gray */
}

.search-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #ffffff; /* White */
}

.search-table .ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff; /* Light blue highlight */
}

.search-modal-container .custom-descriptions .ant-descriptions-item-label {
  background-color: #3366b3; /* light gray or any color you like */
  font-weight: bold;
  width: 50%;
  font-size: 16px;
}

.search-modal-container .custom-descriptions .ant-descriptions-item-content {
  font-size: 16px;
}