.content {
  padding: 30px;
  background-color: #f0f2f5;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.ant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  /* max-height: 150px; */
}

.ant-card-head {
  font-weight: bold;
  background-color: #f9f9f9 !important;
  border-bottom: 1px solid #f0f0f0;
}

.card-content-layout{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-count{
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0px;
}

.card-title{
  font-size: 17px;
  color: white;
  font-weight: bold;

}


.ant-tooltip {
  z-index: 2050 !important;
}

.responsive-container {
  width: 100%;
  height: 250px;
}

.line-chart {
  margin-top: 12px;
}

.pie-chart {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; 
}

.pie-chart .recharts-wrapper {
  width: 100% !important;
  height: 100% !important;
}

/* Summary Cards */
.summary-card {
  color: white;
  border: none;
}

.summary-card-whole{
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.summary-card-content {
  display: flex;
  width: 25%;
  height: auto;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.summary-card-content:hover{
  cursor: pointer;
  transform: scale(105%);
}

.summary-card-icon {
  font-size: 36px;
}

/* List Styles */
.ant-list-item {
  padding: 8px 0;
}

/* Table Header */
.ant-table-thead > tr > th {
  font-weight: bold;
}

/* Fix spacing */
.content {
  padding: 30px;
  background-color: #f0f2f5;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.calendar-wrapper {
  width: 100%;
  padding: 0 24px; /* Optional horizontal padding */
}

/* Ensure the calendar fills its container */
.calendar-wrapper .ant-card {
  width: 100%;
}

.calendar-wrapper .ant-picker-calendar {
  width: 100% !important;
}

/* Make header and panel stretch */
.calendar-wrapper .ant-picker-calendar-header,
.calendar-wrapper .ant-picker-panel {
  width: 100% !important;
}


