.profile-content {
  padding: 40px 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.ant-card {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.ant-card:hover {
  transform: translateY(-3px);
}

.avatar-container {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-container .ant-avatar {
  border: 2px solid #1890ff;
  transition: all 0.3s ease;
}

.avatar-container .ant-avatar:hover {
  transform: scale(1.05);
}

.site-layout {
  height: 831px;
}

.edit-btn:hover{
  background-color: white;
}

.upload-btn {
  padding: 8px 12px;
  background-color: #1890ff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 40px;
  cursor: pointer;;
}

.edit-btn{
  padding: 8px 12px;
  border-radius: 5px;
}

.upload-btn:hover {
  background-color: #40a9ff;

}

.profile-summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.info{
  font-size: 20px ;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.profile-icon{
  margin: 0;
  margin-right: 30px;
  font-size: 25px;
  color: #51abcb;
}

.text-display{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
}

.title{
  color: #a1a1a1;
  font-size: 15px;
  margin-top: 5px;
}

.title-container{
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  justify-content: center;
  align-content: center;
  padding-left: 20px;
}

.container-two{
  display: flex;
  gap: 50;
  border-top: 1px solid #e1e1e1;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .profile-content {
    padding: 20px 10px;
  }

  .ant-card {
    max-width: 100%;
  }
}
